@import 'tailwindcss';
@import 'tailwindcss';
@import 'tailwindcss-primeui';

@font-face {
  font-family: Playfair;
  src: url('../assets/fonts/PlayfairDisplay-Medium.ttf');
}

@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/Nunito-Medium.ttf');
}

body {
  background-color: black;
}

p {
  color: #cdcdcd;
  font-family: 'Nunito', 'Arial';
  font-size: 30px;
}

h1 {
  color: #ceb5d4;
  font-family: 'Playfair', 'Times New Roman';
  font-variant: small-caps;
  font-weight: normal;
  font-size: 90px;
}

h2 {
  color: #7d9fc0;
  font-family: 'Nunito', 'Arial';
  font-size: 45px;
  font-weight: normal;
}

.tagline {
  position: absolute;
  text-align: center;
  width: 50%;
  top: 50%;
  left: 50%;
}

.navBar {
  --p-tabs-tablist-background: none;
  --p-tabs-tab-color: #cdcdcd;
  --p-tabs-tab-hover-color: #dff8eb;
  --p-tabs-active-bar-height: 3px;
  --p-tabs-active-bar-background: linear-gradient(#ceb5d4, #7d9fc0);
  --p-tabs-tab-active-border-color: white;
  --p-tabs-tabpanel-background: transparent;
}

.tabColorBlue {
  --p-tabs-tab-active-color: #7d9fc0;
}
.tabColorPink {
  --p-tabs-tab-active-color: #ceb5d4;
}

.p-tab {
  font-size: xx-large;
  font-family: 'Playfair', 'Times New Roman';
}
