@font-face {
  font-family: Playfair;
  src: url('../assets/fonts/PlayfairDisplay-Medium.ttf');
}

@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/Nunito-Medium.ttf');
}

body {
  background-color: black;
}

h1 {
  color: #ceb5d4;
  font-family: 'Playfair', 'Times New Roman';
  font-variant: small-caps;
  font-weight: normal;
  font-size: 90px;
  margin: auto;
}

h2 {
  color: #7d9fc0;
  font-family: 'Nunito', 'Arial';
  font-size: 45px;
  font-weight: normal;
}

.tagline {
  position: absolute;
  right: 5%;
  bottom: 0;
}

.navBar {
  color: white;
  font-size: xx-large;
  font-family: 'Playfair', 'Times New Roman';
  --p-menubar-background: none;
  --p-menubar-border-color: transparent;
}
